[submodule "buildroot"]
	path = buildroot
	url = https://github.com/iamwwc/buildroot
	branch = master
	ignore = dirty
[submodule "linux"]
	path = linux
	url = https://github.com/iamwwc/linux
	branch = master
	ignore = dirty
